:root {
  --main-one: #076b75;
  --main-two: #02292c;
  --light: #f5e2b3;
  --highlight: #02fafa;
  --baloo: 'Baloo 2', cursive;
  --kod: 'Kodchasen', sans-serif;
  --koho: 'KoHo', sans-serif;
  --pal-one: 'Palaquin', sans-serif;
  --pal-two: 'Palaquin dark', sans-serif;
}

body {
  background-color: var(--main-two);
}

.App {
  text-align: center;
  background-color: var(--main-two);
}

.icon-white {
  color: white;
}

.slydro-logo {
  font-family: var(--baloo);
  color: var(--main-one) !important;
  font-size: 16rem !important;
}

.splash {
  text-align: center;
  width: 100%;
}

h1, h2 {
  font-family: var(--baloo);
  font-weight: 800;
  margin: 0 auto;
  padding-top: 64px;
  color: var(--main-two);
  text-shadow: 0px 0px 3px var(--highlight),
  0px 0px 3px var(--highlight),
  0px 0px 3px var(--highlight),
  0px 0px 3px var(--highlight),
  0px 0px 3px var(--highlight),
  0px 0px 3px var(--highlight);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 48px;
  padding-top: 16px;
}
